:root {
    --base-color: #ffffff;
    --secondary-color:	#009246;
    --action-color: 	#e90918;
    --overlay-color: #d2e1f36c;
}

.nav-text {
    font-weight: bold;
    color: var(--action-color);
    font-size: x-large;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.table {
    border: 3px solid var(--secondary-color);
    border-radius: 1em;
    background-color: var(--base-color);
}

